/*  your css code here. If applicable */
/* Page Background */
:root {
  background-color: rgb(135, 206, 235);
}

/* Paragraph Styling */
article p:first-child {
  color: white;
  background-color: black;
}

article p:nth-child(2) {
  color: black;
}

article p:last-child {
  color: red;
}

/* List Styling */
ul li {
  background-color: gray;
  width: 50%;
  padding: 10px;
}

/* Odd items white */
ul li:nth-child(odd) {
  background-color: white;
}

/* First and last font size */
ul li:first-child,
ul li:last-child {
  font-size: 22px;
}

/* Third-to-last item */
ul li:nth-last-child(3) {
  background-color: pink;
}
